/**********************/
/*     Corps          */
/**********************/

body,
html {
    width: 100%;
    height: 100%;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
    color: #ffffff;
    padding-top: 4rem;
    background-image: url('/assets/images/wallpaper.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-solid-reg:hover {
    background-color: transparent;
    color: #0092ff;
    text-decoration: none;
}

/**********************/
/*     Navigation     */
/**********************/

.offcanvas-collapse {
    position: fixed;
    top: 3.25rem;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 0rem;
    padding-left: 0rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fcfafb;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.navbar .navbar-nav {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #fdfeff;
    text-decoration: none;
    transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
    color: #0092ff;
}

.navbar .dropdown .dropdown-menu {
    animation: fadeDropdown 0.2s;
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navbar .dropdown-menu {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: none;
}

.navbar .dropdown-item {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #5e6576;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.875rem;
    text-decoration: none;
}

.navbar .dropdown-item:hover {
    color: #0092ff;
}

.navbar .dropdown-divider {
    width: 100%;
    height: 1px;
    margin: 0.5rem auto 0.5rem auto;
    border: none;
}

.navbar .navbar-toggler {
    padding: 0;
    border: none;
    font-size: 1.25rem;
}

/*************************/
/*     Media Queries     */
/*************************/

@media (min-width: 768px) {
    .header {
        padding-top: 9rem;
        padding-bottom: 5em;
    }

    .header .h1-large {
        font-size: 3.25rem;
        line-height: 3.75rem;
    }

    .counter .counter-cell {
        display: inline-block;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        vertical-align: top;
    }

    @media (min-width: 992px) {
        .h2-heading {
            width: 35.25rem;
            margin-right: auto;
            margin-left: auto;
        }

        .p-heading {
            width: 46rem;
            margin-right: auto;
            margin-left: auto;
        }

        .navbar {
            padding-top: 1.75rem;
            box-shadow: none;
            transition: all 0.2s;
        }

        .navbar.top-nav-collapse {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
        }

        .offcanvas-collapse {
            position: static;
            top: auto;
            bottom: auto;
            left: auto;
            width: auto;
            padding-right: 0;
            padding-left: 0;
            background-color: transparent;
            overflow-y: visible;
            visibility: visible;
        }

        .offcanvas-collapse.open {
            -webkit-transform: none;
            transform: none;
        }

        .navbar .navbar-nav {
            margin-top: 0;
            margin-bottom: 0;
        }

        .navbar .nav-item .nav-link {
            padding-right: 0.75rem;
            padding-left: 0.75rem;
        }

        .navbar .dropdown-menu {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
        }

        .navbar .dropdown-divider {
            width: 90%;
        }

        .navbar .nav-item .btn-solid-sm {
            margin-top: 0;
            margin-left: 1rem;
        }

        .header {
            text-align: -webkit-right;
        }

        .header .text-container {
            margin-top: 4rem;
            margin-bottom: 6rem;
        }

        .header .image-container {
            margin-top: auto;
        }

        .header .btn-solid-lg,
        .header .btn-outline-lg {
            margin-right: 0;
            margin-left: 0;
        }

        .header .btn-solid-lg {
            margin-right: 0.5rem;
        }

        .cards-1 .card {
            display: inline-block;
            width: 286px;
            vertical-align: top;
        }

        .cards-1 .card:nth-of-type(3n+2) {
            margin-right: 2rem;
            margin-left: 2rem;
        }

        .basic-1 .image-container {
            margin-bottom: 0;
        }

        .basic-1 .text-container {
            margin-top: 2rem;
        }

        .basic-2 .text-container {
            margin-top: 3rem;
            margin-bottom: 0;
        }

        .cards-2 .card {
            display: inline-block;
            width: 298px;
            vertical-align: top;
            border: none;
        }

        .cards-2 .card:nth-of-type(3n+2) {
            margin-right: 1rem;
            margin-left: 1rem;
        }

        .footer h4 {
            width: 46rem;
            margin-right: auto;
            margin-left: auto;
        }

        .copyright {
            text-align: left;
        }

        .copyright .list-unstyled li {
            display: inline-block;
            margin-right: 1rem;
        }

        .copyright .statement {
            text-align: right;
        }

        @media (min-width: 1200px) {
            .container {
                max-width: 1140px;
            }

            .header {
                overflow: hidden;
                padding-top: 18rem;
                padding-bottom: 15rem;
            }

            .header .text-container {
                margin-top: 0;
            }

            .header .image-container {
                position: relative;
            }

            .header .image-container img {
                position: absolute;
                bottom: -320px;
                left: 5px;
                max-width: 30rem;
            }

            .cards-1 .card {
                width: 310px;
            }

            .cards-1 .card:nth-of-type(3n+2) {
                margin-right: 5.5rem;
                margin-left: 5.5rem;
            }

            .basic-1 .text-container {
                margin-top: 5rem;
                margin-left: 2.75rem;
            }

            .basic-2 .text-container {
                margin-top: 6rem;
                margin-right: 3rem;
            }

            .basic-2 .image-container {
                text-align: right;
            }

            .accordion-1 .accordion {
                margin-bottom: 0;
            }

            .accordion-1 .image-container {
                text-align: right;
            }

            .cards-2 .card {
                width: 356px;
            }

            .cards-2 .card:nth-of-type(3n+2) {
                margin-right: 1.125rem;
                margin-left: 1.125rem;
            }

            .basic-3 .text-container {
                padding-top: 8rem;
                padding-bottom: 8.5rem;
            }

            .form-1 .text-container {
                margin-top: 1.5rem;
                margin-right: 2.75rem;
            }

            .form-1 form {
                margin-left: 2.75rem;
            }

            .footer .decoration-circles {
                left: 0;
            }
        }
    }
}